---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Loughborough Community Kitchen"
	description="Change me"
	pubDate={new Date('August 08 2021')}
	heroImage="7fd0dfc6-fb6d-475e-a018-dc52ec6b1b3f.jpg"
>
	<p>
Loughborough Community Kitchen exists to provide freshly cooked, nutritious meals in a welcoming and inclusive space for people in need across our community. 
We believe everyone deserves dignity, warmth and a good meal, regardless of their personal circumstances. With the support of our dedicated volunteers and local supporters, we currently provide a monthly community meal.

Our work builds on the legacy of a much loved soup kitchen that served Loughborough every Sunday for 13 years before losing its financial backing. 
Its closure left many vulnerable people without regular support, and our kitchen was created to ensure that vital service did not disappear.

We are committed to growing this project sustainably and responsibly. By working closely with local businesses, volunteers and community groups, we aim to strengthen community involvement and create meaningful opportunities to give back.

We prioritise locally sourced and seasonal produce wherever possible, helping us serve healthy, balanced meals while supporting local suppliers and reducing food waste.

Loughborough Community Kitchen is truly from the community, for the community, bringing people together to create connection, care and lasting positive change.
	</p>

	
	</p>
</Layout>
