---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>🍲 Welcome to Loughbrorough Community Kitchen 🧑‍🍳</h2>
			<p>
				Loughborough Community Kitchen aims to provide releif of poverty in Loughborough, 
				and the surrounding area through the provision of free or low cost meals. 
			</p>
			<p>
				Some more text here
			</p>
			<p>Want to get involved? Here are some of the ways you can help support our mission:</p>
			<ul>
				<li>Volumteer with us! We are always in need of a set of capable hands, or those who are looking to learn.
					Bring positive energy, and help us support those in need.</code></li>
				<li>Help fund our mission - Our kitchen costs money, donate to keep us running for the forseable future</li>
			</ul>
			<p>
				We look forward to seeing or hearing from you one day!
			</p>
		</main>
		<Footer />
	</body>
</html>
