---
const { children } = Astro.props;
---

<section class="card-section">
  <div class="card-grid">
    <slot />
  </div>
</section>

<style>
  .card-section {
    padding: 3rem 1.5rem;
  }

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0; /* important */
}


  @media (min-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
